{{ define "New" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Golang</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Mini Project</h1>   
		   <h2>New</h2>  
		    <form method="POST" action="producer">
		      <label> Author </label><input type="text" name="author" /><br />
		      <label> Body </label><input type="text" name="body" /><br />
		      <input type="submit" value="Save" />
		    </form>
	</body>
	</html>
{{ end }}